.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.output{
  display: grid;
  margin-top: 50px;
  padding: 10px;
  border-radius: 2px;
  /* gap: 2px; */
  background: linear-gradient(to right, rgb(110, 110, 223),rgb(135, 191, 135));
  grid-template-columns:auto auto auto;
  border: 1px solid rgba(0, 0, 0, 0.8);
}


.main-container{
display: flex;
align-items: center;
text-align: center;
justify-content: center;

}

button
{
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  width: 70px;
  height: 80px;
  background-color: rgba(240, 248, 255, 0.79);
  border-radius: 2px;
  margin: 1px;
}

.previous-output,
.current-output{
  background-color: rgba(0, 0, 0, 0.635);
  padding-top: 20px;
  font-size: 25px;
  color: azure;
  text-align: end;
  padding: 10px;
  /* border-bottom: 0.1px solid rgba(255, 255, 255, 0.712); */
}
.current-output{
margin-bottom:10px ;
}